       <div class="header">
            <navigation></navigation>
         </div>
    <div class="container" >
            <h1>Liste des annonces</h1>
            
           <div class="row">  
                <div class="col-lg-12">
                   <div class="col-md-1"> 
                    <h5><strong>Tri par</strong></h5> 
                    </div>
                    
                   <div class="col-md-3">
                    <select class="form-control"  ng-model="advert.type" ng-change="searchAdvert(advert)">
                        <option value="">Type</option>
                        <option value="offre">Offre de service</option>
                        <option value="demande">Demande</option>
                    </select>
                </div>    
                <div class="col-md-3">
                    <select class="form-control" ng-model="advert.regions" ng-change="searchAdvert(advert)">
                        <option value="">Région</option>
                        <option ng-repeat="option in region.regionOptions" value="{{option.regions}}">{{option.regions}}</option>
                    </select>
   
                </div>
                <div class="col-md-3">
                    <select class="form-control" ng-model="advert.categories" ng-change="searchAdvert(advert)">
                        <option value="">Catégorie</option>
                        <option ng-repeat="option in category.catOptions" value="{{option.categories}}">{{option.categories}}</option>
                    </select>
                </div>  
                  
            </div>
           </div>
            <br>
            <div class="row">
        <div class="col-lg-8 col-lg-offset-1">
            <div class="panel panel-default">
                <div ng-repeat="advert in adverts.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <!--.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))-->
                    <div class="panel-body">
                        <h4>{{advert.type}}</h4>
                        <div >
                        <img ng-if="advert.media !== 'abc'" style="width:100px;" ng-src="uploads/{{advert.media}}"/></div>
                        <h4><i><small>publié par : </small></i>{{advert.author}}&nbsp;
                            <i style='float:right'><small> le : {{advert.created_at | date :'dd MMM yyyy'}}</small></i>
                        </h4>
                        <h4><i><small>Je propose </small></i>{{advert.title}}</h4>
                        <p>{{advert.content}}</p>
                        <h4><i><small>zone : </small></i>{{advert.regions}}&nbsp;
                            <i style='float:right'><small>catégorie : <strong>{{advert.categories}}</strong></small></i>
                        </h4>        
                        <a href="#/replyToAd/{{advert._id}}" class="btn-sm btn-primary">Répondre</a>

                    </div>
                </div>
                <div ng-if="adverts.length === 0">Pas encore d'annonces</div> 
            </div>
        </div>  
            </div>
     <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>     
            
            
            
            
<div class="row">
           <div class="text-center">
    <a href="#/formAdvert" class="btn-lg btn-primary">Déposer une annonce</a>
</div>
            <br>
              <div class="text-center">
    <a href="#/" class="btn-lg btn-danger">Retour</a>
</div>     
</div>
           </div>