<div class="row">

    <div class="jumbotron">
        <h1>TimeShareApp</h1>
        <h2>Le site qui existe déjà, mais pas en AngularJs</h2>
    </div>

    <div class="row"> 
        <div class="text-center">
        <h2>Les dernières annonces</h2>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Offres de services</h3></div>
                <div ng-repeat="advert in adverts| filter: {type:'offre'} |orderBy: '-created_at'| limitTo:3">
                    <div class="panel-body">
                        <h4><i><small>publié par : </small></i>{{advert.author}}&nbsp;
                            <i style='float:right'><small> le : {{advert.created_at | date :'dd MMM yyyy'}}</small></i>
                        </h4>
                        <h4><i><small>Je propose </small></i>{{advert.title}}</h4>
                        <p>{{advert.content}}</p>
                        <h4><i><small>zone : </small></i>{{advert.regions}}&nbsp;
                            <i style='float:right'><small>catégorie : {{advert.categories}}</small></i>
                        </h4>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Demandes</h3></div>
                <div ng-repeat="advert in adverts| filter: {type:'demande'}|orderBy: '-created_at'| limitTo:3 ">
                    <div class="panel-body">
                        <h4><i><small>publié par : </small></i>{{advert.author}}&nbsp;
                            <i style='float:right'><small> le : {{advert.created_at | date :'dd MMM yyyy'}}</small></i>
                        </h4>
                        <h4><i><small>Je recherche </small></i>{{advert.title}}</h4>                  
                        <p>{{advert.content}}</p>
                      <h4><i><small>zone : </small></i>{{advert.regions}}&nbsp;
                            <i style='float:right'><small>catégorie : </small></i>
                        </h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>    

    <div class="row">   
        <div class="text-center">
            <a href="#/adverts"  class="btn-lg btn-danger" >Voir plus d'annonces <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
        </div>  

        <br>

    </div>
    <div class="row">
        <div class="text-center">
            <a href="#/formAdvert" class="btn-lg btn-primary">Déposer une annonce</a>
        </div>
    </div>
    <br>
</div>
