<div class="header">
    <navigation></navigation>
</div>

<div class="container">

    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="backProfil" >
        </div>
        <div class="useravatar" ng-init="vmp.getAvatar()">
            <img alt="avatar" ng-src="uploads/{{vmp.media}}">
        </div>
        <br>
        <div class="card-info">
            <h1 class="text-capitalize" style="margin-top:20px;">{{navvm.currentUser.firstname}} {{navvm.currentUser.lastname}}</h1>
        </div>
    </div>

    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group" ng-mouseenter="myVar1 = 'btn-primary';
                        myVar2 = 'btn-default';
                        myVar3 = 'btn-default'">
            <button type="button"  class="btn" ng-class="myVar1" href="#tab1" data-toggle="tab"><div style="height:30px">Profil</div>
            </button>
        </div>
        <div class="btn-group" role="group" ng-mouseenter="myVar2 = 'btn-primary';
                        myVar1 = 'btn-default';
                        myVar3 = 'btn-default'">
            <button type="button"  class="btn"  ng-class="myVar2" href="#tab2" data-toggle="tab"><div style="height:30px">Mes annonces</div>
            </button>
        </div>
        <div class="btn-group" role="group" ng-mouseenter="myVar3 = 'btn-primary';
                        myVar2 = 'btn-default';
                        myVar1 = 'btn-default'">
            <button type="button"  class="btn" ng-class="myVar3" href="#tab3" data-toggle="tab">
                <div style="height:30px">Mes messages <span ng-if="vmp.messages.length||vmp.msgCancel.length>0">
                        ({{vmp.messages.length  + vmp.msgCancel.length}})</span> / Mon compte</div>
            </button>
        </div>
    </div>

    <br>
    <div class="tab-content">

        <div class="tab-pane fade in" id="tab1">
            <div class="col-md-10 col-md-offset-1">

                <button type="button" ng-click="checked = !checked"  class="btn btn-lg btn-primary btn-block">Mettre à jour mon Profil</button>
                <div class="btn-group" > <!-- <label class="btn btn-primary"><input type="checkbox" ng-model="checked">changer mes informations</label> --> </div>
                <div role="alert" ng-show="vmp.formError" class="alert alert-danger">{{vmp.formError}}</div>    

                <form class="form" ng-submit="vmp.onUpdate()" >
                    <div class="row advertHome">
                        <div class="col-md-8 col-md-offset-2 ">
                            <div class="row">
                                <div class="col-md-2"><h4>Email</h4></div>
                                <div class="col-md-10">
                                    <input type="email"  class="form-control" ng-value="vmp.currentUser.mail" placeholder="{{navvm.currentUser.mail}}" ng-disabled="!checked" required ng-model="vmp.currentUser.mail">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2"><h4>Nom</h4></div>
                                <div class="col-md-10">
                                    <input type="text"  class="form-control" ng-value="vmp.currentUser.lastname"  placeholder="{{navvm.currentUser.lastname}}" ng-disabled="!checked"  ng-model="vmp.currentUser.lastname" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2"><h4>Prénom</h4></div>
                                <div class="col-md-10">
                                    <input type="text"  class="form-control" ng-value="vmp.currentUser.firstname"  ng-disabled="!checked" ng-model="vmp.currentUser.firstname" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2"><h4>Adresse</h4></div>
                                <div class="col-md-10">
                                    <input type="text"  class="form-control" ng-value="vmp.currentUser.adress"  ng-disabled="!checked" ng-model="vmp.currentUser.adress" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2"><h4>Téléphone</h4></div>
                                <div class="col-md-10">
                                    <input type="text"  class="form-control" ng-value="vmp.currentUser.tel"  ng-disabled="!checked" ng-model="vmp.currentUser.tel" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2"><h4>Mot de passe</h4></div>
                                <div class="col-md-10">
                                    <input type="password"  class="form-control" placeholder="Votre mot de passe" ng-disabled="!checked"  ng-model="vmp.currentUser.password" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit"  ng-disabled="!checked" class="btn btn-lg btn-primary btn-block">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <upload></upload>
                <div>Actualisez la page pour voir votre nouvel avatar.</div>
            </div>
        </div>

        <div class="tab-pane fade in active" id="tab2" ng-init="vmp.listAdverts(vmp.currentUser._id)">
            <div class="col-md-10 col-md-offset-1">
                <div class ="advertHome" ng-repeat="advert in vmp.adverts |orderBy: '-created_at'">
                    <div class="row">
                    <div class="col-md-3">
                        <h4 class="text-capitalize">{{advert.type}}</h4>
                        <img ng-if="advert.media !== 'abc'" class="media-object" style="width:150px; height:120px;" ng-src="uploads/{{advert.media}}">
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-capitalize">{{advert.title}}</h3>
                        <pre>{{advert.content}}</pre> 
                    </div>
                    <div class="col-md-3">
                        <p><i><small>postée par : </small></i>{{advert.author}}</p> 
                        <p><i><small>catégorie : </small></i>{{advert.categories}}</p>
                        <p><i><small>le : </small></i>{{advert.created_at| date :'dd MMM yyyy'}}</p>
                        <p><i><small>zone : </small></i>{{advert.regions}}</p>
                        <a href="#/editAdvert/{{advert._id}}" class="btn btn-ghost btn-xs" style="padding: 5px; font-size:12px;min-width: 125px;margin-bottom: 10px;">Modifier l'annonce</a>
                        <button ng-click="vmp.cancelAd(advert)" class="btn btn-primary btn-xs" style="padding: 5px">Supprimer l'annonce</button>
                   
                    </div> 
                    </div>
                    <br>
                    <a ng-model="collapsed" ng-click="collapsed = !collapsed">      
                        <button ng-click="vmp.listReplies(vmp.currentUser._id)" class="btn btn-primary btn-xs">Voir {{advert.replies.length}} les réponses</button>
                    </a>
                    <div ng-show ="collapsed">                       
                        <div ng-repeat="reply in vmp.replies|filter : advert._id |orderBy: '-created_at'">

                            <div class="wellReply">
                                <div class="col-md-3"> 
                                    <h5>De : {{reply.author}} </h5>
                                    <h5><span>Le : {{reply.created_at| date :'dd MMM yyyy'}}</span><span>&nbsp; à : {{reply.created_at| date :'H mm'}}</span></h5>
                                    <h5>Dispo le : {{reply.work_date}}</h5>
                                </div>
                                <div class="col-md-5"> 
                                    <div>Objet :<span><strong> {{reply.title}}</strong></span></div>
                                    <br>
                                    <div>Message : {{reply.content}}</div>                               
                                </div>
                                <div class="col-md-4">
                                    <button ng-click="vmp.validReply(advert, reply)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span>&nbsp;Je valide cette réponse </button>
                                    <p><small>*Attention, si vous validez la réponse votre annonce ne sera plus affichée.</small></p>
                                    <p><small><strong>*{{reply.author}}</strong> recevra une alerte sur son compte.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div> 
                <div ng-if="vmp.adverts.length === 0">Vous n'avez pas encore posté d'annonce</div> 
            </div>
        </div>

        <div class="tab-pane fade in" id="tab3" ng-init="vmp.approvedReplies()">
            <div class="col-md-10 col-md-offset-1">
                <div class ="advertHome" ng-init="vmp.cancelledReplies()">
                <h3>Mes messages</h3>
                
                <div class="wellReply" style="min-height: 100px;"ng-repeat="message in vmp.msgCancel">
                    <h4>Message pour l'annonce <strong>{{message.toAdId.title}}</strong></h4>
                    <p>Désolé, l'annonce <strong>"{{message.toAdId.title}}"</strong> a été retirée par
                     <strong class='text-capitalize'>{{message.toAdId.author}}.</strong></p>
               </div>
                
                <div class="wellReply" style="min-height: 100px;"ng-repeat="message in vmp.messages | filter: {ad_cancelled:false}">
                    <h4>Message pour l'annonce <strong>{{message.toAdId.title}}</strong></h4>
                <p>Votre réponse (<strong>{{message.title}}</strong>) a été selectionnée par 
                    <strong class='text-capitalize'>{{message.toAdId.author}}</strong>.</p>
                <p><strong class='text-capitalize'>{{message.toAdId.author}}</strong> vous contactera sans tarder.</p>
                </div>
                
                </div>
            </div>
            
            <div class="col-md-10 col-md-offset-1">
                <div class ="advertHome" >
                
                <h3>Mon compte</h3>
                
                </div>
            </div>
          
            
            
        </div>

        
        
        
    </div>
</div>



