<div class="row">  
    <div class="col-md-2">
        <h4>Date d'intervention</h4> 
    </div>

                <div class="col-md-10">
                      <input type="text" class="form-control" ng-model="reply.work_date">
        <date-picker ng-model="reply.work_date">
        </date-picker>
    </div>
</div>
<br>
                      
                    <!--
ng-hide="timeval.isLoggedIn"

                    <a href="#"><span class="glyphicon glyphicon-user"></span>&nbspNom du user</a>&nbsp
                    <a href="#" class="btn-trans btn-sm">Déconnexion</a>-->