    <div class="row">  
                <div class="col-md-2">
                    <h5><strong>Date d'intervention</strong></h5> 
                </div>

                <div class="col-md-5">
                      <input type="text" class="form-control" ng-model="date">
                        <date-picker ng-model="date">
                        </date-picker>
            </div>
            </div>
<br>
                      
                    <!--
ng-hide="timeval.isLoggedIn"

                    <a href="#"><span class="glyphicon glyphicon-user"></span>&nbspNom du user</a>&nbsp
                    <a href="#" class="btn-trans btn-sm">Déconnexion</a>-->