       <div class="header">
            <navigation></navigation>
         </div>
<div class="container">
  <div class="well">

<div class="row" style="margin-top:10px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

          <h1 class="text-center">Publier une annonce</h1>
        <hr class="colorgraph">
         
          <form class="form">
             <fieldset>
     
        <div class="form-group">
            <select class="form-control" required ng-model="advert.type">
                        <option value="" >Type de votre annonce</option>
                        <option value="offre">Offre de service</option>
                        <option value="demande">Demande</option>
            </select>
                  
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Titre de votre annonce" required ng-model="advert.title"  >
                    
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Auteur" required ng-model="advert.author">
                    
        </div>
        <div class="form-group">
            <select class="form-control" required ng-model="advert.regions" placeholder="Localisation (Lieu)" >
                        <option value="">Région</option>
                        <option ng-repeat="option in region.regionOptions" value="{{option.regions}}">{{option.regions}}</option>
            </select>
                    
        </div>
        <div class="form-group">
            <select class="form-control" required ng-model="advert.categories" placeholder="Catégorie" >
                        <option value="">Catégorie</option>
                        <option ng-repeat="option in category.catOptions" value="{{option.categories}}">{{option.categories}}</option>
            </select>
                    
        </div>
        <div class="form-group">
             <input class="form-control" placeholder="Description de votre annonce" required ng-model="advert.content" style="min-height: 80px;">
                    
        </div>
        <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6"> <button class="btn btn-primary btn-block btn-lg" ng-click="addAdvert()">Poster l'annonce</button></div>
                <div class="col-xs-12 col-md-6"><button class="btn btn-success btn-block btn-lg" ng-click="deselect()">Clear</button></div>
            </div>
       
       
      </fieldset>
    </form>
  </div>
</div>



<div class="row" style="margin-top:30px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

          <h3 class="text-center">Ajouter une image à votre annonce</h3>
        <hr class="colorgraph">
         
          <form class="form" ng-controller="MyCtrl as up" name="up.upload_form">
             <fieldset>
            <div class="col-md-6">
                    <input class="file"
                           type="file" 
                           ngf-select 
                           ng-model="up.file" 
                           name="file" 
                           ngf-pattern="'image/*'"
                           accept="image/*" 
                           ngf-max-size="20MB" 

                           />
                    Image : <img style="width:100px;" ngf-thumbnail="up.file"/>
                    <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                    <i ng-show="up.upload_form.file.$error.maxSize">File too large 
                        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                    <button class="btn-sm btn-primary" type="submit" ng-click="up.submit()">Ajouter</button>
                    <p>{{up.progress}}</p>
                </div>
       
       
             </fieldset>
           </form>
  </div>
</div>


<div class="row" style="margin-top:10px"> 
     <div class="text-center">
        <a href="#/adverts"  class="btn btn-danger" >Voir les annonces <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>

    </div>  
    <br>
    <div class="text-center">
        <a href="#/" class="btn btn-primary">Retour</a>
      
</div>
</div>








</div>
</div>