<div class="header">
    <navigation></navigation>
</div>

<div class="container" >
    <div class="col-md-10 col-md-offset-1 ">
        <div class="row text-center">
            <h1>Déposer une annonce</h1>
        </div>
        <br>
        <div class="row">  

            <form class="form ">
                <div class="row advertHome">
                    <div class="col-md-6 col-md-offset-3 ">
                        <select class="form-control" required ng-model="advert.type">
                            <option value="" >Type de votre annonce</option>
                            <option value="demande">J'aurais besoin</option>
                            <option value="offre">Je peux vous aider</option>
                        </select>        
                        <input class="form-control" placeholder="Titre de votre annonce" required ng-model="advert.title"  >
                        <select class="form-control" required ng-model="advert.regions" placeholder="Localisation (Lieu)" >
                            <option value="">Région</option>
                            <option ng-repeat="option in region.regionOptions" value="{{option.regions}}">{{option.regions}}</option>
                        </select>
                        <select class="form-control" required ng-model="advert.categories" placeholder="Catégorie" >
                            <option value="">Catégorie</option>
                            <option ng-repeat="option in category.catOptions" value="{{option.categories}}">{{option.categories}}</option>
                        </select>
                        <textarea class="form-control" placeholder="Votre message" required ng-model="advert.content" style="min-height: 80px;"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <button class="btn btn-block btn-ghost-white" ng-click="addAdvert()">Poster l'annonce</button></div>
                </div>
            </form>
        </div>

        <upload></upload>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="#/adverts"  class="btn btn-block btn-ghost-white" >Voir les annonces <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
            </div>
        </div>

    </div>
</div>


